html, body {
	margin:0px;
	padding:0px;
	font-family: Arial;
	font-size:14pt;
}

a {
	color:black;
}

ul {
	margin-top:0px;
	margin-bottom:0px;
}

h2 {
	font-size:1.2em;
	font-weight:bold;
  margin: 0 0 5px 0;
}
