<h2>Impressum</h2>
<p>
  <strong>Inhaltlich verantwortlich:</strong><br />
  {{ contact.name }}<br />
  {{ contact.street }}<br />
  {{ contact.postalCode }} {{ contact.city }}<br />
  <br />
  E-Mail: <a [href]="'mailto:' + contact.email">{{ contact.email }}</a
  ><br />
  Telefon: <a [href]="phoneLink">{{ contact.phone }}</a
  ><br />
  Web: <a href="https://www.nicosgruenpflege.de">www.nicosgruenpflege.de</a>
</p>
<p><strong>Geschäftsführung:</strong> Nico Andresen<br /></p>
<p>
  <strong>Haftungshinweis:</strong>
  Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die
  Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind
  ausschließlich deren Betreiber verantwortlich.<br />
</p>
<p>
  <strong>Nutzungsrechte:</strong>
  Der gesamte Inhalt dieser Webseite (Texte, Bilder, Grafiken) unterliegt dem
  Urheberrecht und anderen Gesetzen zum Schutze geistigen Eigentums. Einzelne
  Elemente der Seite dürfen nur mit ausdrücklicher Erlaubnis für private oder
  geschäftliche Zwecke verwendet, kopiert oder verändert werden.<br />
  Bitte setzen Sie sich bei entsprechenden Anfragen mit mir in Verbindung.<br />
</p>
<p>
  <strong>Datenschutz:</strong>
  Ich respektiere Ihre privaten Daten. Wenn Sie innerhalb meiner Seite gebeten
  werden, Ihre persönlichen Daten einzugeben, so sind diese gemäß den
  datenschutzrechtlichen Bestimmungen der Bundesrepublik Deutschland geschützt
  und werden ausschließlich zum angegebenen Zweck verwendet.<br />
</p>
