<h2>Moin Moin</h2>
<p>
  Willkommen bei nicosgruenpflege. Überzeugen Sie sich von der zügigen und
  akkuraten Arbeitsweise, die Ihnen von mir geboten wird.
</p>
<h3>Saison 2022</h3>
<div class="row">
  <div class="col1">
    <div class="bullet-area">
      <img src="assets/star.svg" alt="Stern" width="108" />
      <ul>
        <li>Schnell</li>
        <li>Kompetent</li>
        <li>Preiswert</li>
      </ul>
    </div>
  </div>
  <div class="col2">
    <div class="garden">
      <img src="assets/nicosgruenpflege.jpg" alt="Garten" /><br>
    </div>
    <br>
    Garten - &copy; 2013 Nico Andresen
  </div>
</div>
