<div style="text-align: justify">
  <h2>Kompetenz, Erfahrung, umfassend</h2>
  Als staatlich anerkannter Forstwirt mit langj&auml;hriger Berufserfahrung
  verf&uuml;ge ich &uuml;ber ein umfassendes Fachwissen in der Geh&ouml;lzpflege
  und Baumf&auml;llung
  <br />
  <br />
  <h2>Meine Leistungen - Ihre Vorteile</h2>
  <ul>
    <li>Freischneiderarbeiten</li>
    <li>M&auml;harbeiten</li>
    <li>Knickr&uuml;ckschnitt</li>
    <li>Gefahrenbaumf&auml;llung</li>
    <li>Pflanzungen von B&auml;umen und Str&auml;uchern</li>
    <li>Durchforstungen</li>
  </ul>
  <br />
  Informieren Sie sich kostenlos und unverbindlich per Telefon, Email oder
  <a [routerLink]="kontaktLink">Kontaktformular</a>. Gern' erstelle ich Ihnen ein
  attraktives Angebot.
</div>
