<h2>Sie sind interessiert an einem individuellen Angebot?</h2>
<p>
  Dann informieren Sie sich kostenlos und unverbindlich. Füllen Sie einfach
  dieses Kontaktformular aus oder rufen Sie mich einfach direkt unter
  <a [href]="phoneLink">{{contact.phone}}</a>
  . Ich werde mich umgehend bei Ihnen melden.
</p>
<br />
<form autocomplete="on" [formGroup]="form" (ngSubmit)="submit()" #frm>
  <nicosgruenpflege-labeled-input formControlName="name">
    Vor- und Nachname
  </nicosgruenpflege-labeled-input>
  <nicosgruenpflege-labeled-input formControlName="strasse">
    Straße und Hausnummer
  </nicosgruenpflege-labeled-input>
  <div class="postal-code-city">
    <nicosgruenpflege-labeled-input size="5" class="postal-code" formControlName="plz" name="postal-code">
      PLZ
    </nicosgruenpflege-labeled-input>
    <nicosgruenpflege-labeled-input class="city" formControlName="ort">
      Ort
    </nicosgruenpflege-labeled-input>
  </div>
  <nicosgruenpflege-labeled-input formControlName="email">
    E-Mail
  </nicosgruenpflege-labeled-input>
  <nicosgruenpflege-labeled-input formControlName="telefon">
    Telefon
  </nicosgruenpflege-labeled-input>
  <nicosgruenpflege-labeled-input formControlName="nachricht" type="textarea" rows="10">
    Nachricht
  </nicosgruenpflege-labeled-input>
  <!--label [class.invalid]="form.controls['nachricht'].invalid">
    Nachricht<span class="mandatory">*</span><br />
    <textarea formControlName="nachricht" rows="10"></textarea>
  </label -->
  <div class="submit">
    <button>E-Mail senden</button>
  </div>
</form>
