nicosgruenpflege-labeled-input {
  padding-bottom: 0.5em;
}

nicosgruenpflege-labeled-input:not(.postal-code) {
  width: 100%;
  max-width: 500px;
}

.submit {
  max-width: 500px;
  text-align: center;
}

.postal-code-city {
  max-width: 500px;
  display: flex;
  gap: 10px;
}

.postal-code {
  flex: 0 0 auto;
}

.city {
  flex: 1;
}
