<div class="h1">Moin Moin</div>
<div style="text-align: justify">
  Willkommen bei nicosgruenpflege. Überzeugen Sie sich von der zügigen
  und akkuraten Arbeitsweise, die Ihnen von mir geboten wird.
</div>
<br />
<div class="h2">Saison 2021</div>
<table cellspacing="0" cellpadding="0" style="width: 100%">
  <tr>
    <td style="vertical-align: top">
      <table cellspacing="0" cellpadding="0" style="margin-top: 10px">
        <tr>
          <td style="vertical-align: middle">
            <img src="assets/star.png" alt="Stern" />
          </td>
          <td style="vertical-align: middle; font-size: 1.2em">
            <div style="padding-left: 10px">- Schnell</div>
            <div style="padding-left: 30px">- Kompetent</div>
            <div style="padding-left: 50px">- Preiswert</div>
          </td>
        </tr>
      </table>
    </td>
    <td style="vertical-align: top">
      <div
        style="
          background-color: white;
          margin-left: auto;
          width: 408px;
          border: solid black 1px;
          padding: 4px;
          text-align: center;
        "
      >
        <img src="assets/nicosgruenpflege.jpg" alt="Garten" />
      </div>
      <div style="text-align: right; font-size: 0.7em">
        Garten - &copy; 2013 Nico Andresen
      </div>
    </td>
  </tr>
</table>
