:host {
  display: flex;
  flex-flow: column;
  flex: 1;
  padding: 14px;
  background-color: yellow;
  border: solid yellow 1px;
}

header,
footer {
  flex: 0 1 auto;
}

main {
  flex-grow: 1;
}

.logo {
  text-align: center;
  border: solid black 1px;
  padding: 5px;
  margin-bottom: 15px;

  img {
    max-width: 590px;
  }

  @media screen and (max-width: 500px) {
    img {
      max-width: 290px;
    }
  }
}

main {
  border: solid black 1px;
  margin: 15px 0px;
  padding: 15px;
  min-height: 400px;
}

.address {
  float: right;
  padding: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 0.8em;
  text-align: right;

  a {
    line-height: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .address {
    display: none;
  }
}
